<?xml version="1.0" encoding="UTF8"?>
<toolchains>
      <!-- JDK toolchains -->
      <toolchain>
        <type>jdk</type>
        <provides>
          <version>JDK_VERSION</version>
          <vendor>JDK_VENDOR</vendor>
        </provides>
        <configuration>
          <jdkHome>JAVA_HOME</jdkHome>
        </configuration>
      </toolchain>
</toolchains>
