<?xml version="1.0" encoding="UTF8"?>
<toolchains>
      <!-- JDK toolchains -->
      <toolchain>
        <type>jdk</type>
        <provides>
          <version>${env.JDK_VERSION}</version>
          <vendor>${env.JDK_VENDOR}</vendor>
        </provides>
        <configuration>
          <jdkHome>${env.JAVA_HOME}</jdkHome>
        </configuration>
      </toolchain>
</toolchains>
